[submodule "pathogen/sjl-gundo"]
	path = pathogen/sjl-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "pathogen/html-template-syntax"]
	path = pathogen/html-template-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "pathogen/ctrlp.vim"]
	path = pathogen/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pathogen/tpope-vim-pathogen"]
	path = pathogen/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pathogen/neco-ghc"]
	path = pathogen/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "pathogen/shakesperian-syntax"]
	path = pathogen/shakesperian-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "pathogen/kien-ctrl-p"]
	path = pathogen/kien-ctrl-p
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pathogen/vim-hybrid-colors"]
	path = pathogen/vim-hybrid-colors
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "pathogen/jellybeans"]
	path = pathogen/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "pathogen/jade"]
	path = pathogen/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "pathogen/coffee-script"]
	path = pathogen/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "pathogen/tpope-surround"]
	path = pathogen/tpope-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "pathogen/slim"]
	path = pathogen/slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "pathogen/vim-fireplace"]
	path = pathogen/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "pathogen/vim-classpath"]
	path = pathogen/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "pathogen/vim-clojure-static"]
	path = pathogen/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "pathogen/applescript"]
	path = pathogen/applescript
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "pathogen/paredit"]
	path = pathogen/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "pathogen/rainbow"]
	path = pathogen/rainbow
	url = https://github.com/sordina/Rainbow-Parenthesis.git
[submodule "pathogen/vim-pandoc"]
	path = pathogen/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "pathogen/vim-dispatch"]
	path = pathogen/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pathogen/nerdtree"]
	path = pathogen/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pathogen/snipmate"]
	path = pathogen/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pathogen/vim-snippets"]
	path = pathogen/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pathogen/vim-addon-mw-utils"]
	path = pathogen/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pathogen/tlib-vim"]
	path = pathogen/tlib-vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pathogen/idris-lang"]
	path = pathogen/idris-lang
	url = https://github.com/idris-hackers/idris-vim.git
[submodule "pathogen/vim-scala"]
	path = pathogen/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "pathogen/repeat"]
	path = pathogen/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pathogen/elm"]
	path = pathogen/elm
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "pathogen/tagbar"]
	path = pathogen/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "pathogen/haskell-syntax"]
	path = pathogen/haskell-syntax
	url = https://github.com/raichoo/haskell-vim.git
[submodule "pathogen/mercury"]
	path = pathogen/mercury
	url = https://github.com/vim-scripts/mercury.vim.git
[submodule "pathogen/wting-rust"]
	path = pathogen/wting-rust
	url = https://github.com/wting/rust.vim.git
