[submodule "pathogen/sjl-gundo"]
	path = pathogen/sjl-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "pathogen/html-template-syntax"]
	path = pathogen/html-template-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "pathogen/ctrlp.vim"]
	path = pathogen/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pathogen/tpope-vim-pathogen"]
	path = pathogen/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pathogen/neco-ghc"]
	path = pathogen/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "pathogen/shakesperian-syntax"]
	path = pathogen/shakesperian-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "pathogen/kien-ctrl-p"]
	path = pathogen/kien-ctrl-p
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pathogen/vim-hybrid-colors"]
	path = pathogen/vim-hybrid-colors
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "pathogen/jellybeans"]
	path = pathogen/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
